.tableEmpty {
    //  表格为空的样式
    width: 200px;
    height: 250px;
    background-size: 100% 100%;
    background-image: url(./image/NODATA.png);
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block
}